openapi: 3.0.3
info:
  title: Nexus Commerce API
  version: 3.0.0
  description: >
    Public v3 commerce contract for storefront, customer, and authenticated
    business

    commerce flows.


    This specification intentionally documents only the `/v3` namespace.

    Store-derived public storefront routes under
    `/v3/stores/{store_id}/public/*`

    require the `X-Scalev-Storefront-Api-Key` header.
  license:
    name: Proprietary
servers:
  - url: https://api.myscalev.com
    description: Production
security: []
tags:
  - name: Orders
    description: Authenticated business order management endpoints.
  - name: Storefront
    description: Public storefront catalog, guest cart, and guest checkout flows.
      All store-derived public storefront routes require
      `X-Scalev-Storefront-Api-Key`.
  - name: Public Orders
    description: Public order lookup and payment endpoints.
  - name: Customer Auth
    description: Public customer authentication and password-reset endpoints.
  - name: Customer Account
    description: Authenticated customer profile endpoints.
  - name: Customer Cart
    description: Authenticated customer cart management endpoints.
  - name: Customer Checkout
    description: Authenticated customer checkout preparation and confirmation endpoints.
  - name: Customer Orders
    description: Authenticated customer order read endpoints.
  - name: Customer Subscriptions
    description: Authenticated customer subscription and subscription-item endpoints.
  - name: Customer Courses
    description: Authenticated customer digital course access and progress endpoints.
  - name: Discounts
    description: Discount-code validation endpoints.
  - name: Locations
    description: Authenticated business location lookup endpoints.
  - name: Shipping
    description: Public and authenticated shipping lookup endpoints.
  - name: Business Products
    description: Authenticated business product, variant, taxonomy, and course
      management endpoints.
  - name: Business Bundles
    description: Authenticated business bundle, bundle-price-option, and related
      bundle-management endpoints.
  - name: Business Customers
    description: Authenticated business customer and customer-address management endpoints.
  - name: WABA
    description: Authenticated WhatsApp Business Account operations and related WABA
      resources.
  - name: WhatsApp Integrations
    description: Authenticated WhatsApp integration management endpoints.
paths:
  /v3/stores/{store_id}/public/products:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
    get:
      tags:
        - Storefront
      operationId: listStorefrontProducts
      summary: List storefront products
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /v3/stores/{store_id}/public/products/count:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
    get:
      tags:
        - Storefront
      operationId: countStorefrontProducts
      summary: Count storefront products
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /v3/stores/{store_id}/public/products/{slug}:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
      - $ref: "#/components/parameters/ProductSlug"
    get:
      tags:
        - Storefront
      operationId: getStorefrontProduct
      summary: Get a storefront product by slug
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /v3/stores/{store_id}/public/categories:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
    get:
      tags:
        - Storefront
      operationId: listStorefrontCategories
      summary: List storefront categories
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /v3/stores/{store_id}/public/variants/pricing:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
      - $ref: "#/components/parameters/VariantIds"
    get:
      tags:
        - Storefront
      operationId: getStorefrontVariantPricing
      summary: Get storefront variant pricing
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /v3/stores/{store_id}/public/cart:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
    get:
      tags:
        - Storefront
      operationId: getGuestCart
      summary: Get the guest storefront cart
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /v3/stores/{store_id}/public/cart/items:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
    post:
      tags:
        - Storefront
      operationId: addGuestCartItem
      summary: Add an item to the guest storefront cart
      requestBody:
        $ref: "#/components/requestBodies/CartItemRequestBody"
      responses:
        "201":
          $ref: "#/components/responses/CreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /v3/stores/{store_id}/public/cart/items/{item_id}:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
      - $ref: "#/components/parameters/ItemId"
    patch:
      tags:
        - Storefront
      operationId: updateGuestCartItem
      summary: Update a guest storefront cart item
      requestBody:
        $ref: "#/components/requestBodies/CartItemUpdateRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      tags:
        - Storefront
      operationId: removeGuestCartItem
      summary: Remove a guest storefront cart item
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /v3/stores/{store_id}/public/cart/merge:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
    post:
      tags:
        - Storefront
      operationId: mergeGuestCart
      summary: Merge a guest cart into the authenticated customer cart
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /v3/stores/{store_id}/public/guest-checkout:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
    post:
      tags:
        - Storefront
      operationId: createGuestCheckout
      summary: Checkout a storefront cart as a guest
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "201":
          $ref: "#/components/responses/CreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /v3/orders/search-courier-service:
    post:
      tags:
        - Shipping
      operationId: searchPublicCourierServices
      summary: Search courier services for public checkout
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
  /v3/orders/public/{secret_slug}:
    parameters:
      - $ref: "#/components/parameters/SecretSlug"
    get:
      tags:
        - Public Orders
      operationId: getPublicOrder
      summary: Get a public order by secret slug
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /v3/orders/public/{secret_slug}/payment:
    parameters:
      - $ref: "#/components/parameters/SecretSlug"
    post:
      tags:
        - Public Orders
      operationId: createPublicOrderPayment
      summary: Create a payment for a public order
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /v3/stores/{store_id}/public/discount-codes/check:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
    get:
      tags:
        - Discounts
      operationId: checkDiscountCode
      summary: Check discount code validity
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
  /v3/stores/{store_id}/public/auth/otp/send:
    post:
      tags:
        - Customer Auth
      operationId: sendCustomerOtp
      summary: Send a customer login OTP or return direct login tokens
      parameters:
        - $ref: "#/components/parameters/StoreId"
        - $ref: "#/components/parameters/StorefrontPublicApiKey"
      requestBody:
        $ref: "#/components/requestBodies/CustomerOtpSendRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /v3/stores/{store_id}/public/auth/otp/verify:
    post:
      tags:
        - Customer Auth
      operationId: verifyCustomerOtp
      summary: Verify a customer login OTP
      parameters:
        - $ref: "#/components/parameters/StoreId"
        - $ref: "#/components/parameters/StorefrontPublicApiKey"
      requestBody:
        $ref: "#/components/requestBodies/CustomerOtpVerifyRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /v3/stores/{store_id}/public/auth/jwt/refresh:
    post:
      tags:
        - Customer Auth
      operationId: refreshCustomerJwt
      summary: Refresh a customer JWT
      parameters:
        - $ref: "#/components/parameters/StoreId"
        - $ref: "#/components/parameters/StorefrontPublicApiKey"
      requestBody:
        $ref: "#/components/requestBodies/JwtRefreshRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /v3/stores/{store_id}/public/auth/jwt/blacklist:
    post:
      tags:
        - Customer Auth
      operationId: blacklistCustomerJwt
      summary: Blacklist customer JWTs
      parameters:
        - $ref: "#/components/parameters/StoreId"
        - $ref: "#/components/parameters/StorefrontPublicApiKey"
      requestBody:
        $ref: "#/components/requestBodies/JwtBlacklistRequestBody"
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
  /v3/stores/{store_id}/public/auth/forget-password:
    post:
      tags:
        - Customer Auth
      operationId: startCustomerPasswordReset
      summary: Start a customer password reset flow
      parameters:
        - $ref: "#/components/parameters/StoreId"
        - $ref: "#/components/parameters/StorefrontPublicApiKey"
      requestBody:
        $ref: "#/components/requestBodies/ForgetPasswordRequestBody"
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
  /v3/stores/{store_id}/public/auth/save-password:
    post:
      tags:
        - Customer Auth
      operationId: saveCustomerPassword
      summary: Save a new customer password from a reset token
      parameters:
        - $ref: "#/components/parameters/StoreId"
        - $ref: "#/components/parameters/StorefrontPublicApiKey"
      requestBody:
        $ref: "#/components/requestBodies/SavePasswordRequestBody"
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /v3/stores/{store_id}/customers/me:
    get:
      tags:
        - Customer Account
      operationId: getCustomerMe
      summary: Get the authenticated customer profile
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /v3/stores/{store_id}/customers/me/set-new-password:
    post:
      tags:
        - Customer Account
      operationId: setCustomerPassword
      summary: Set a new password for the authenticated customer
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      requestBody:
        $ref: "#/components/requestBodies/PasswordRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /v3/stores/{store_id}/customers/me/cart:
    get:
      tags:
        - Customer Cart
      operationId: getCustomerCart
      summary: Get the authenticated customer cart
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /v3/stores/{store_id}/customers/me/cart/items:
    post:
      tags:
        - Customer Cart
      operationId: addCustomerCartItem
      summary: Add an item to the authenticated customer cart
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      requestBody:
        $ref: "#/components/requestBodies/CartItemRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /v3/stores/{store_id}/customers/me/cart/items/{item_id}:
    parameters:
      - $ref: "#/components/parameters/ItemId"
      - $ref: "#/components/parameters/StoreId"
    patch:
      tags:
        - Customer Cart
      operationId: updateCustomerCartItem
      summary: Update an authenticated customer cart item
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CartItemUpdateRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
    delete:
      tags:
        - Customer Cart
      operationId: removeCustomerCartItem
      summary: Remove an authenticated customer cart item
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /v3/stores/{store_id}/customers/me/cart/checkout:
    post:
      tags:
        - Customer Cart
      operationId: checkoutCustomerCart
      summary: Checkout the authenticated customer cart
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "201":
          $ref: "#/components/responses/CreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /v3/stores/{store_id}/customers/me/checkout/addresses:
    get:
      tags:
        - Customer Checkout
      operationId: listCheckoutAddresses
      summary: List saved checkout addresses
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /v3/stores/{store_id}/customers/me/checkout/payment-methods:
    get:
      tags:
        - Customer Checkout
      operationId: listCheckoutPaymentMethods
      summary: List available checkout payment methods
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /v3/stores/{store_id}/customers/me/checkout/shipping-options:
    post:
      tags:
        - Customer Checkout
      operationId: listCheckoutShippingOptions
      summary: Get checkout shipping options
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /v3/stores/{store_id}/customers/me/checkout/summary:
    post:
      tags:
        - Customer Checkout
      operationId: getCheckoutSummary
      summary: Compute checkout summary
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /v3/stores/{store_id}/customers/me/checkout/confirm:
    post:
      tags:
        - Customer Checkout
      operationId: confirmCheckout
      summary: Confirm checkout
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "201":
          $ref: "#/components/responses/CreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /v3/stores/{store_id}/customers/me/orders:
    get:
      tags:
        - Customer Orders
      operationId: listCustomerOrders
      summary: List authenticated customer orders
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
  /v3/stores/{store_id}/customers/me/orders/{id}:
    parameters:
      - $ref: "#/components/parameters/OrderId"
      - $ref: "#/components/parameters/StoreId"
    get:
      tags:
        - Customer Orders
      operationId: getCustomerOrder
      summary: Get an authenticated customer order
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /v3/stores/{store_id}/customers/me/subscriptions:
    parameters:
      - $ref: "#/components/parameters/StoreId"
    get:
      tags:
        - Customer Subscriptions
      operationId: listCustomerSubscriptions
      summary: List authenticated customer subscriptions
      security:
        - bearerAuth: []
      parameters:
        - description: "Number of items per page (default: 25, max: 25)"
          in: query
          name: page_size
          required: false
          schema:
            example: 25
            maximum: 25
            type: integer
        - description: Last subscription UUID for cursor-based pagination
          in: query
          name: last_id
          required: false
          schema:
            format: uuid
            type: string
        - description: Filter by subscription status (unactivated, active, canceled,
            expired)
          in: query
          name: status
          required: false
          schema:
            enum:
              - unactivated
              - active
              - canceled
              - expired
              - failed
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListCustomerSubscriptionsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
      description: Retrieves a paginated list of subscriptions. The data is sorted by
        id in descending order. Uses cursor-based pagination with default page
        size of 25 and maximum of 25.
  /v3/stores/{store_id}/customers/me/subscriptions/{id}:
    parameters:
      - $ref: "#/components/parameters/SubscriptionId"
      - $ref: "#/components/parameters/StoreId"
    get:
      tags:
        - Customer Subscriptions
      operationId: getCustomerSubscription
      summary: Get an authenticated customer subscription
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/GetCustomerSubscriptionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Retrieves detailed information about a specific subscription
        identified by its ID.
  /v3/stores/{store_id}/customers/me/subscriptions/{id}/cancel:
    parameters:
      - $ref: "#/components/parameters/SubscriptionId"
      - $ref: "#/components/parameters/StoreId"
    post:
      tags:
        - Customer Subscriptions
      operationId: cancelCustomerSubscription
      summary: Cancel a customer subscription
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/CancelCustomerSubscriptionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: >
        Cancels a subscription at period end. The subscription must be active
        and not already marked for cancellation.

        All active subscription items will be marked for cancellation as well.

        Any pending/scheduled actions will be canceled.
  /v3/stores/{store_id}/customers/me/subscriptions/{id}/resume:
    parameters:
      - $ref: "#/components/parameters/SubscriptionId"
      - $ref: "#/components/parameters/StoreId"
    post:
      tags:
        - Customer Subscriptions
      operationId: resumeCustomerSubscription
      summary: Resume a customer subscription
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ResumeCustomerSubscriptionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: >
        Resumes a subscription that was scheduled for cancellation at period
        end.

        The subscription must be active and have is_cancel_at_period_end = true.

        All subscription items scheduled for cancellation will also be resumed.

        If the subscription is approaching renewal, a new renewal action will be
        created.
  /v3/stores/{store_id}/customers/me/subscription-items/{id}/upgrade:
    parameters:
      - $ref: "#/components/parameters/SubscriptionItemId"
      - $ref: "#/components/parameters/StoreId"
    get:
      tags:
        - Customer Subscriptions
      operationId: listSubscriptionUpgradeOptions
      summary: List subscription upgrade options
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ListSubscriptionUpgradeOptionsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: >
        Retrieves a list of variants with higher prices than the current variant
        of the subscription item.

        Only active subscription items that are not scheduled for cancellation
        are eligible.
    post:
      tags:
        - Customer Subscriptions
      operationId: upgradeSubscriptionItem
      summary: Upgrade a subscription item
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/UpgradeSubscriptionItemRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/UpgradeSubscriptionItemResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: >
        Upgrades a subscription item to a higher-priced variant.

        Creates a subscription action with type 'upgrade' and executes it within
        the same transaction.

        The variant_id must be present in the list of upgrade variants.
  /v3/stores/{store_id}/customers/me/subscription-items/{id}/downgrade:
    parameters:
      - $ref: "#/components/parameters/SubscriptionItemId"
      - $ref: "#/components/parameters/StoreId"
    get:
      tags:
        - Customer Subscriptions
      operationId: listSubscriptionDowngradeOptions
      summary: List subscription downgrade options
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ListSubscriptionDowngradeOptionsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: >
        Retrieves a list of variants with lower prices than the current variant
        of the subscription item.

        Only active subscription items that are not scheduled for cancellation
        are eligible.
    post:
      tags:
        - Customer Subscriptions
      operationId: downgradeSubscriptionItem
      summary: Downgrade a subscription item
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/DowngradeSubscriptionItemRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/DowngradeSubscriptionItemResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: >
        Downgrades a subscription item to a lower-priced variant.

        Creates a subscription action with type 'downgrade' and executes it
        within the same transaction.

        The variant_id must be present in the list of downgrade variants.
  /v3/stores/{store_id}/customers/me/variants/{uuid}/course:
    parameters:
      - $ref: "#/components/parameters/Uuid"
      - $ref: "#/components/parameters/StoreId"
    get:
      tags:
        - Customer Courses
      operationId: getCustomerVariantCourse
      summary: Get course access for a purchased variant
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /v3/stores/{store_id}/customers/me/course-sections/{uuid}:
    parameters:
      - $ref: "#/components/parameters/Uuid"
      - $ref: "#/components/parameters/StoreId"
    get:
      tags:
        - Customer Courses
      operationId: getCustomerCourseSection
      summary: Get a course section
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /v3/stores/{store_id}/customers/me/course-contents/{uuid}:
    parameters:
      - $ref: "#/components/parameters/Uuid"
      - $ref: "#/components/parameters/StoreId"
    get:
      tags:
        - Customer Courses
      operationId: getCustomerCourseContent
      summary: Get a course content item
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    patch:
      tags:
        - Customer Courses
      operationId: updateCustomerCourseContentProgress
      summary: Update course content progress
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /v3/locations:
    get:
      tags:
        - Locations
      operationId: listLocations
      summary: List locations for authenticated business flows
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ListLocationsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Retrieve a list of locations with search and pagination.
      parameters:
        - description: Page number for pagination
          in: query
          name: page
          required: false
          schema:
            default: 1
            minimum: 1
            type: integer
        - description: Number of items per page
          in: query
          name: page_size
          required: false
          schema:
            default: 10
            maximum: 100
            minimum: 1
            type: integer
        - description: Search term for location names
          in: query
          name: search
          required: false
          schema:
            type: string
  /v3/shipping-costs:
    post:
      tags:
        - Shipping
      operationId: searchShippingCosts
      summary: Search shipping costs
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/SearchShippingCostsRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SearchShippingCostsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Retrieve shipping cost estimates based on origin, destination,
        courier services, and package weight.
  /v3/shipping-costs/search-courier-service:
    post:
      tags:
        - Shipping
      operationId: searchCourierServices
      summary: Search courier services
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/SearchCourierServicesRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SearchCourierServicesResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Retrieve available courier services based on warehouse,
        destination, payment method, and package weight.
  /v3/shipping-costs/search-warehouse:
    post:
      tags:
        - Shipping
      operationId: searchWarehouses
      summary: Search warehouses
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/SearchWarehousesRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SearchWarehousesResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Search for warehouses based on order details, store, destination,
        and product variants.
  /v3/orders:
    get:
      tags:
        - Orders
      operationId: listOrders
      summary: List business orders
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ListOrdersResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Retrieves a paginated list of orders with optional filtering. The
        data is sorted by created_at in descending order and cannot be changed.
        Uses cursor-based pagination with default page size of 25 and maximum of
        25.
      parameters:
        - description: "Number of items per page (default: 25, max: 25)"
          in: query
          name: page_size
          required: false
          schema:
            example: 25
            maximum: 25
            type: integer
        - description: Last order ID for cursor-based pagination
          in: query
          name: last_id
          required: false
          schema:
            type: integer
        - description: Search term to filter orders by order ID, customer name, email, or
            phone number
          in: query
          name: search
          required: false
          schema:
            type: string
        - description: Filter spam orders
          in: query
          name: is_probably_spam
          required: false
          schema:
            enum:
              - "true"
              - "false"
            type: string
        - description: Filter by business role
          in: query
          name: business_role
          required: false
          schema:
            enum:
              - retailer
              - fulfillment_provider
            type: string
        - description: Filter orders by draft time until (ISO 8601 format)
          in: query
          name: draft_time_until
          required: false
          schema:
            format: datetime
            type: string
        - description: Filter orders by confirmed time since (ISO 8601 format)
          in: query
          name: confirmed_time_since
          required: false
          schema:
            format: datetime
            type: string
        - description: Filter orders by confirmed time until (ISO 8601 format)
          in: query
          name: confirmed_time_until
          required: false
          schema:
            format: datetime
            type: string
        - description: Filter orders by shipped time since (ISO 8601 format)
          in: query
          name: shipped_time_since
          required: false
          schema:
            format: datetime
            type: string
        - description: Filter orders by shipped time until (ISO 8601 format)
          in: query
          name: shipped_time_until
          required: false
          schema:
            format: datetime
            type: string
        - description: Filter orders by completed time since (ISO 8601 format)
          in: query
          name: completed_time_since
          required: false
          schema:
            format: datetime
            type: string
        - description: Filter orders by completed time until (ISO 8601 format)
          in: query
          name: completed_time_until
          required: false
          schema:
            format: datetime
            type: string
        - description: Filter orders created from a form
          in: query
          name: is_from_form
          required: false
          schema:
            enum:
              - "true"
              - "false"
            type: string
        - description: Filter repeat orders
          in: query
          name: is_repeat
          required: false
          schema:
            enum:
              - "true"
              - "false"
            type: string
        - description: Comma-separated list of tags to filter orders
          in: query
          name: tags
          required: false
          schema:
            type: string
        - description: Filter orders containing a specific product ID
          in: query
          name: product_id
          required: false
          schema:
            type: string
        - description: Filter orders with transfer proof
          in: query
          name: is_transferproof_exist
          required: false
          schema:
            enum:
              - "true"
              - "false"
            type: string
        - description: Filter orders by specific order ID
          in: query
          name: order_id
          required: false
          schema:
            type: string
        - description: Filter orders by AWB status
          in: query
          name: awb_ca_status
          required: false
          schema:
            enum:
              - unavailable
              - pending
              - waiting
              - failed
              - created
              - canceled
            type: string
        - description: Filter orders by status
          in: query
          name: status
          required: false
          schema:
            enum:
              - draft
              - pending
              - confirmed
              - in_process
              - ready
              - canceled
              - shipped
              - shipped_rts
              - completed
              - rts
              - closed
            type: string
        - description: Filter orders by payment status
          in: query
          name: payment_status
          required: false
          schema:
            enum:
              - paid
              - unpaid
              - conflict
              - settled
            type: string
        - description: Filter orders by payment method
          in: query
          name: payment_method
          required: false
          schema:
            enum:
              - no_payment
              - bank_transfer
              - marketplace
              - va
              - qris
              - ewallet
              - cod
              - card
              - gopay
              - invoice
              - alfamart
              - ovo
              - dana
              - shopeepay
              - linkaja
            type: string
        - description: Filter orders by shipment status
          in: query
          name: shipment_status
          required: false
          schema:
            type: string
        - description: Filter orders by business ID
          in: query
          name: business_id
          required: false
          schema:
            type: string
        - description: Filter orders by store ID
          in: query
          name: store_id
          required: false
          schema:
            type: string
        - description: Filter orders by warehouse ID
          in: query
          name: warehouse_id
          required: false
          schema:
            type: string
        - description: Filter orders by courier ID
          in: query
          name: courier_id
          required: false
          schema:
            type: string
        - description: Filter orders by handler ID
          in: query
          name: handler_id
          required: false
          schema:
            type: string
        - description: Filter orders by advertiser ID
          in: query
          name: advertiser_id
          required: false
          schema:
            type: string
        - description: Filter orders by platform
          in: query
          name: platform
          required: false
          schema:
            enum:
              - scalev
              - tiktokshop
              - tokopedia
              - shopee
              - lazada
              - blibli
              - bukalapak
              - orderonline
              - berdu
            type: string
        - description: Filter orders by financial entity ID
          in: query
          name: financial_entity_id
          required: false
          schema:
            type: string
        - description: Filter orders by page ID
          in: query
          name: page_id
          required: false
          schema:
            type: string
        - description: Filter orders by external ID
          in: query
          name: external_id
          required: false
          schema:
            type: string
        - description: Filter orders by affiliate business ID (for affiliates to see
            orders they brought)
          in: query
          name: affiliate_business_id
          required: false
          schema:
            type: integer
        - description: Filter orders by UTM source
          in: query
          name: utm_source
          required: false
          schema:
            type: string
        - description: "Comma-separated list of columns to include. Available columns:
            secret_slug, final_variants, store, origin_address,
            address_location, handler_phone, order_id, destination_address,
            quantity, product_price, total_weight, courier_service,
            shipping_cost, payment_method, gross_revenue, shipment_receipt,
            courier_additional_info, payment_status, status, customer,
            draft_time, orderlines, is_dropshipping, dropshipper_name,
            dropshipper_phone, unique_code_discount, tags, awb_status,
            awb_ca_status, follow_up_chats, follow_up_chat_type,
            message_history, metadata, notes, courier_aggregator_code,
            shipment_account, payment_account, financial_entity,
            payment_account_holder, payment_account_number, transferproof_url,
            transfer_time, product_discount, shipping_discount, other_income,
            other_income_name, shipment_status, is_repeat, platform,
            external_id, is_purchase_fb, is_purchase_tiktok, is_purchase_kwai,
            fb_pixel_ids, tiktok_pixel_ids, kwai_pixel_ids, pending_time,
            confirmed_time, shipped_time, completed_time, rts_time,
            canceled_time, closed_time, warehouse, page, channel_name, handler,
            advertiser, pg_payment_info, sub_payment_method, epayment_provider,
            invoice_url, pg_reference_id, net_revenue, payment_fee, scalev_fee,
            net_payment_revenue, discount_code_discount, discount_code_code,
            discount_code_applied_to, utm_source"
          in: query
          name: columns
          required: false
          schema:
            type: string
    post:
      tags:
        - Orders
      operationId: createOrder
      summary: Create a business order
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CreateOrderRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/CreateOrderResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Create a new order with the provided details.
  /v3/orders/statistics:
    get:
      tags:
        - Orders
      operationId: getOrderStatistics
      summary: Get order statistics
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/GetOrderStatisticsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Retrieves descriptive statistics about orders, such as total
        orders, total revenue, and other aggregated data. Can be filtered using
        the same parameters as the orders list endpoint.
      parameters:
        - description: Type of datetime for statistics (defaults to 'created_at')
          in: query
          name: datetime_type
          required: false
          schema:
            default: created_at
            enum:
              - draft_time
              - pending_time
              - confirmed_time
              - in_process_time
              - ready_time
              - canceled_time
              - shipped_time
              - shipped_rts_time
              - completed_time
              - rts_time
              - closed_time
            type: string
        - description: Timezone for datetime adjustment (defaults to 'Asia/Jakarta')
          in: query
          name: tz
          required: false
          schema:
            default: Asia/Jakarta
            type: string
        - description: Date breakdown for statistics (defaults to 'off')
          in: query
          name: breakdown_date
          required: false
          schema:
            default: off
            enum:
              - off
              - day
              - week
              - month
            type: string
        - description: Include breakdown by order status (defaults to 'false')
          in: query
          name: is_breakdown_status
          required: false
          schema:
            default: "false"
            enum:
              - "true"
              - "false"
            type: string
        - description: Custom breakdown key for statistics (defaults to 'off')
          in: query
          name: custom_breakdown_key
          required: false
          schema:
            default: off
            enum:
              - off
              - handler_id
              - advertiser_id
              - page_id
              - city
              - province
            type: string
        - description: Minimum number of days for statistics (defaults to 0)
          in: query
          name: minimum_days
          required: false
          schema:
            default: 0
            type: integer
        - description: Filter by order status
          in: query
          name: status
          required: false
          schema:
            type: string
        - description: Filter by payment status
          in: query
          name: payment_status
          required: false
          schema:
            type: string
        - description: Filter by business ID
          in: query
          name: business_id
          required: false
          schema:
            type: string
        - description: Filter by store ID
          in: query
          name: store_id
          required: false
          schema:
            type: string
        - description: Filter by shipped time since (ISO 8601 format)
          in: query
          name: shipped_time_since
          required: false
          schema:
            format: datetime
            type: string
        - description: Filter by shipped time until (ISO 8601 format)
          in: query
          name: shipped_time_until
          required: false
          schema:
            format: datetime
            type: string
  /v3/orders/change-status:
    post:
      tags:
        - Orders
      operationId: changeOrderStatus
      summary: Change order status in bulk
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/ChangeOrderStatusRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/ChangeOrderStatusResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Change the status of multiple orders.
  /v3/orders/delete:
    post:
      tags:
        - Orders
      operationId: deleteOrders
      summary: Delete orders in bulk
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/DeleteOrdersRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/DeleteOrdersResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Delete multiple orders by IDs.
  /v3/orders/mark-not-spam:
    post:
      tags:
        - Orders
      operationId: markOrdersNotSpam
      summary: Mark orders as not spam
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/MarkOrdersNotSpamRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/MarkOrdersNotSpamResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Mark multiple orders as not spam.
  /v3/orders/upload-change-status:
    post:
      tags:
        - Orders
      operationId: uploadOrderStatusChanges
      summary: Upload a CSV to change order status
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/UploadOrderStatusChangesRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/UploadOrderStatusChangesResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: "Upload a CSV file to change status of multiple orders. Template
        file can be downloaded from the link here:
        https://app.scalev.id/example/update_status_template.csv. (1) Leave
        blank the 'shipment_receipt' field if you don't want to change the
        receipt/tracking number. Note: this will not change receipts/tracking
        numbers that are automatically generated by Scalev through the 'Request
        Pickup' menu. (2) Leave blank the 'day', 'month', and 'year' fields if
        you want to use the time of upload."
  /v3/orders/upload-receipt:
    post:
      tags:
        - Orders
      operationId: uploadOrderReceipt
      summary: Upload order receipt data
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/UploadOrderReceiptRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/UploadOrderReceiptResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: "Upload file to update shipment receipts (tracking IDs) for
        multiple orders. Template file can be downloaded from the link here:
        https://app.scalev.id/example/receipt_template.csv."
  /v3/orders/upload:
    post:
      tags:
        - Orders
      operationId: uploadOrders
      summary: Upload orders from a file
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/UploadOrdersRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/UploadOrdersResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: "Upload orders from CSV file. (1) Archive mode. Choose this mode if
        you want to import old data from another platform you've been using. You
        can directly create products that you made on your previous platform.
        Orders that are created will immediately have 'Completed' status.
        Download template for Archive mode here:
        https://app.scalev.id/example/template_archive.csv. (2) Regular mode.
        Choose this mode if you want to enter current data that you wish to
        input in bulk, not one by one via order input. It will take inventory
        into account if your products have inventory enabled. Successfully
        created orders will have 'Created', 'Pending', or 'Confirmed' status,
        depending on the completeness of the data. Download template for Regular
        mode here: https://app.scalev.id/example/template_regular.csv."
  /v3/orders/generate-awb:
    post:
      tags:
        - Orders
      operationId: generateOrderAwb
      summary: Generate airway bills for orders
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenerateOrderAwbRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/GenerateOrderAwbResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Generate Air Waybill for multiple orders.
  /v3/orders/cancel-awb:
    post:
      tags:
        - Orders
      operationId: cancelOrderAwb
      summary: Cancel airway bills for orders
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CancelOrderAwbRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/CancelOrderAwbResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Cancel Air Waybill for multiple orders.
  /v3/orders/tags:
    get:
      tags:
        - Orders
      operationId: listOrderTags
      summary: List order tags
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ListOrderTagsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Retrieve a list of tags associated with orders.
      parameters:
        - description: Search term to filter tags by name
          in: query
          name: search
          required: false
          schema:
            type: string
  /v3/orders/utm-sources:
    get:
      tags:
        - Orders
      operationId: listOrderUtmSources
      summary: List order UTM sources
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ListOrderUtmSourcesResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Retrieve a list of unique UTM source values from orders.
      parameters:
        - description: Search term to filter UTM sources
          in: query
          name: search
          required: false
          schema:
            type: string
  /v3/orders/utm-mediums:
    get:
      tags:
        - Orders
      operationId: listOrderUtmMediums
      summary: List order UTM mediums
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ListOrderUtmMediumsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Retrieve a list of unique UTM medium values from orders.
      parameters:
        - description: Search term to filter UTM mediums
          in: query
          name: search
          required: false
          schema:
            type: string
  /v3/orders/utm-campaigns:
    get:
      tags:
        - Orders
      operationId: listOrderUtmCampaigns
      summary: List order UTM campaigns
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ListOrderUtmCampaignsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Retrieve a list of unique UTM campaign values from orders.
      parameters:
        - description: Search term to filter UTM campaigns
          in: query
          name: search
          required: false
          schema:
            type: string
  /v3/orders/utm-contents:
    get:
      tags:
        - Orders
      operationId: listOrderUtmContents
      summary: List order UTM contents
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ListOrderUtmContentsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Retrieve a list of unique UTM content values from orders.
      parameters:
        - description: Search term to filter UTM contents
          in: query
          name: search
          required: false
          schema:
            type: string
  /v3/orders/utm-terms:
    get:
      tags:
        - Orders
      operationId: listOrderUtmTerms
      summary: List order UTM terms
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ListOrderUtmTermsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Retrieve a list of unique UTM term values from orders.
      parameters:
        - description: Search term to filter UTM terms
          in: query
          name: search
          required: false
          schema:
            type: string
  /v3/orders/pg-reference-id/{pg_reference_id}:
    parameters:
      - $ref: "#/components/parameters/PgReferenceId"
    get:
      tags:
        - Orders
      operationId: getOrderByPgReferenceId
      summary: Get an order by payment gateway reference ID
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/GetOrderByPgReferenceIdResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Retrieve order details using payment gateway reference ID.
  /v3/orders/pg-reference-ids:
    get:
      tags:
        - Orders
      operationId: listOrdersByPgReferenceIds
      summary: Get orders by payment gateway reference IDs
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ListOrdersByPgReferenceIdsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Retrieve orders using multiple payment gateway reference IDs.
      parameters:
        - description: Comma-separated payment gateway reference IDs
          in: query
          name: pg_reference_ids
          required: true
          schema:
            type: string
  /v3/orders/{id}:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    get:
      tags:
        - Orders
      operationId: getOrder
      summary: Get a business order
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/GetOrderResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Retrieve detailed information about a specific order.
    patch:
      tags:
        - Orders
      operationId: updateOrder
      summary: Update a business order
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/UpdateOrderRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/UpdateOrderResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Update order details by ID.
  /v3/orders/{id}/actions:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    get:
      tags:
        - Orders
      operationId: getOrderActions
      summary: Get available actions for an order
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/GetOrderActionsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Retrieve flags to determine available actions for an order.
  /v3/orders/{id}/chats:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    get:
      tags:
        - Orders
      operationId: listOrderChats
      summary: Get order chat text
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ListOrderChatsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Retrieve chat text messages associated with an order.
  /v3/orders/{id}/chats/{chat_id}:
    parameters:
      - $ref: "#/components/parameters/OrderId"
      - $ref: "#/components/parameters/ChatId"
    get:
      tags:
        - Orders
      operationId: getOrderChat
      summary: Get a single order chat entry
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/GetOrderChatResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Retrieve a specific chat text message.
  /v3/orders/{id}/emails:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    get:
      tags:
        - Orders
      operationId: listOrderEmails
      summary: List order emails
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ListOrderEmailsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Get list of emails sent for an order.
  /v3/orders/{id}/message-history:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    get:
      tags:
        - Orders
      operationId: getOrderMessageHistory
      summary: Get order message history
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/GetOrderMessageHistoryResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Get message history for an order.
    post:
      tags:
        - Orders
      operationId: addOrderMessageHistory
      summary: Add order message history
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/AddOrderMessageHistoryRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/AddOrderMessageHistoryResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Add a new message to order message history.
  /v3/orders/{id}/payment:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      tags:
        - Orders
      operationId: createOrderPayment
      summary: Create a payment for an order
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/CreateOrderPaymentResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Create a payment request / intent for an order.
  /v3/orders/{id}/customer:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    patch:
      tags:
        - Orders
      operationId: updateOrderCustomer
      summary: Update order customer data
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/UpdateOrderCustomerRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/UpdateOrderCustomerResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Update the customer associated with an order.
  /v3/orders/{id}/shipment:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    patch:
      tags:
        - Orders
      operationId: updateOrderShipment
      summary: Update raw shipment data
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/UpdateOrderShipmentRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/UpdateOrderShipmentResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Update shipment-related data for an order.
  /v3/orders/{id}/shipment-receipt:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    patch:
      tags:
        - Orders
      operationId: updateOrderShipmentReceipt
      summary: Update shipment receipt data
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/UpdateOrderShipmentReceiptRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/UpdateOrderShipmentReceiptResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Update shipment receipt / tracking ID for an order.
  /v3/orders/{id}/shipment-status-history:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      tags:
        - Orders
      operationId: createOrderShipmentStatusHistory
      summary: Add shipment status history to an order
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CreateOrderShipmentStatusHistoryRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/CreateOrderShipmentStatusHistoryResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Create a new shipment status history entry for an order.
  /v3/orders/{id}/update-tags:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      tags:
        - Orders
      operationId: updateOrderTags
      summary: Update order tags
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/UpdateOrderTagsRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/UpdateOrderTagsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Update tags for an order.
  /v3/orders/{id}/trigger-purchase:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      tags:
        - Orders
      operationId: triggerOrderPurchase
      summary: Trigger purchase processing for an order
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/TriggerOrderPurchaseResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Trigger purchase event for analytics and tracking.
  /v3/orders/{id}/duplicate:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      tags:
        - Orders
      operationId: duplicateOrder
      summary: Duplicate and cancel an order
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/DuplicateOrderRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/DuplicateOrderResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Create a duplicate of an order and cancel the original.
  /v3/orders/{id}/check-payment:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      tags:
        - Orders
      operationId: checkOrderPayment
      summary: Check order payment status
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/CheckOrderPaymentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Check the payment status of an order.
  /v3/orders/{id}/check-settlement:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      tags:
        - Orders
      operationId: checkOrderSettlement
      summary: Check order settlement status
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/CheckOrderSettlementResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Check the settlement status of an order.
  /v3/orders/{id}/send-product-digital:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      tags:
        - Orders
      operationId: sendDigitalProduct
      summary: Send digital product access for an order
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Send email containing links to download digital products to customer.
  /v3/orders/{id}/send-lms-access:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      tags:
        - Orders
      operationId: sendLmsAccess
      summary: Send LMS access for an order
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Send LMS access email to customer.
  /v3/products:
    get:
      tags:
        - Business Products
      operationId: listProducts
      summary: List business products
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ListProductsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Retrieves a paginated list of products with optional filtering. The
        data is sorted by id in descending order and cannot be changed. Uses
        cursor-based pagination with default page size of 25 and maximum of 25.
      parameters:
        - description: "Number of items per page (default: 25, max: 25)"
          in: query
          name: page_size
          required: false
          schema:
            example: 25
            maximum: 25
            type: integer
        - description: Last order ID for cursor-based pagination
          in: query
          name: last_id
          required: false
          schema:
            type: integer
        - description: Search term to filter products by name (case-insensitive, partial
            match)
          in: query
          name: search
          required: false
          schema:
            type: string
        - description: Filter products by inventory tracking status (true or false)
          in: query
          name: is_inventory
          required: false
          schema:
            type: boolean
        - description: Filter products by product sharing status (true or false)
          in: query
          name: is_product_sharing
          required: false
          schema:
            type: boolean
        - description: Filter products associated with a specific warehouse ID
          in: query
          name: warehouse_id
          required: false
          schema:
            type: integer
        - description: Type of quantity to filter by. Options are 'available_qty' (only
            products with variants that have available quantity > 0)
          in: query
          name: qty_type
          required: false
          schema:
            enum:
              - available_qty
            type: string
        - description: Filter products associated with a specific store ID
          in: query
          name: store_id
          required: false
          schema:
            type: integer
        - description: Show variants in products where is_checked is true or false
          in: query
          name: is_checked
          required: false
          schema:
            type: boolean
        - description: Filter products by ownership. 'true' returns products owned by the
            business, 'false' returns shared products
          in: query
          name: is_owned
          required: false
          schema:
            type: boolean
        - description: Filter products by item type (physical, digital, course, license,
            subscription)
          in: query
          name: item_type
          required: false
          schema:
            description: Type of the product item
            enum:
              - physical
              - digital
              - course
              - license
              - subscription
            title: ItemType
            type: string
        - description: Filter products associated with a specific label name
          in: query
          name: label
          required: false
          schema:
            type: string
        - description: Filter products by pricing type (one_time or recurring)
          in: query
          name: pricing_type
          required: false
          schema:
            enum:
              - one_time
              - recurring
            type: string
    post:
      tags:
        - Business Products
      operationId: createProduct
      summary: Create a product
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CreateProductRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/CreateProductResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Creates a new product with the provided data.
  /v3/products/simplified:
    get:
      tags:
        - Business Products
      operationId: listProductsSimplified
      summary: List simplified business products
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ListProductsSimplifiedResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Retrieves a simplified paginated list of products with optional
        filtering. The data is sorted by id in descending order and cannot be
        changed. Uses cursor-based pagination with default page size of 25 and
        maximum of 25.
      parameters:
        - description: If provided, includes `is_owned_by_store` field in the bundle price
            options to indicate if the option is already included in the
            specified store.
          in: query
          name: for_store_id
          required: false
          schema:
            type: integer
        - description: "Number of items per page (default: 25, max: 25)"
          in: query
          name: page_size
          required: false
          schema:
            example: 25
            maximum: 25
            type: integer
        - description: Last order ID for cursor-based pagination
          in: query
          name: last_id
          required: false
          schema:
            type: integer
        - description: Search term to filter products by name (case-insensitive, partial
            match)
          in: query
          name: search
          required: false
          schema:
            type: string
        - description: Filter products by inventory tracking status (true or false)
          in: query
          name: is_inventory
          required: false
          schema:
            type: boolean
        - description: Filter products by product sharing status (true or false)
          in: query
          name: is_product_sharing
          required: false
          schema:
            type: boolean
        - description: Filter products associated with a specific warehouse ID
          in: query
          name: warehouse_id
          required: false
          schema:
            type: integer
        - description: Type of quantity to filter by. Options are 'available_qty' (only
            products with variants that have available quantity > 0)
          in: query
          name: qty_type
          required: false
          schema:
            enum:
              - available_qty
            type: string
        - description: Filter products associated with a specific store ID
          in: query
          name: store_id
          required: false
          schema:
            type: integer
        - description: Show variants in products where is_checked is true or false
          in: query
          name: is_checked
          required: false
          schema:
            type: boolean
        - description: Filter products by ownership. 'true' returns products owned by the
            business, 'false' returns shared products
          in: query
          name: is_owned
          required: false
          schema:
            type: boolean
        - description: Filter products by item type (physical, digital, course, license,
            subscription)
          in: query
          name: item_type
          required: false
          schema:
            description: Type of the product item
            enum:
              - physical
              - digital
              - course
              - license
              - subscription
            title: ItemType
            type: string
        - description: Filter products associated with a specific label name
          in: query
          name: label
          required: false
          schema:
            type: string
        - description: Filter products by pricing type (one_time or recurring)
          in: query
          name: pricing_type
          required: false
          schema:
            enum:
              - one_time
              - recurring
            type: string
  /v3/products/count:
    get:
      tags:
        - Business Products
      operationId: countProducts
      summary: Count business products
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/CountProductsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
      description: Returns the total count of products.
      parameters:
        - description: "Number of items per page (default: 25, max: 25)"
          in: query
          name: page_size
          required: false
          schema:
            example: 25
            maximum: 25
            type: integer
        - description: Last order ID for cursor-based pagination
          in: query
          name: last_id
          required: false
          schema:
            type: integer
        - description: Search term to filter products by name (case-insensitive, partial
            match)
          in: query
          name: search
          required: false
          schema:
            type: string
        - description: Filter products by inventory tracking status (true or false)
          in: query
          name: is_inventory
          required: false
          schema:
            type: boolean
        - description: Filter products by product sharing status (true or false)
          in: query
          name: is_product_sharing
          required: false
          schema:
            type: boolean
        - description: Filter products associated with a specific warehouse ID
          in: query
          name: warehouse_id
          required: false
          schema:
            type: integer
        - description: Type of quantity to filter by. Options are 'available_qty' (only
            products with variants that have available quantity > 0)
          in: query
          name: qty_type
          required: false
          schema:
            enum:
              - available_qty
            type: string
        - description: Filter products associated with a specific store ID
          in: query
          name: store_id
          required: false
          schema:
            type: integer
        - description: Show variants in products where is_checked is true or false
          in: query
          name: is_checked
          required: false
          schema:
            type: boolean
        - description: Filter products by ownership. 'true' returns products owned by the
            business, 'false' returns shared products
          in: query
          name: is_owned
          required: false
          schema:
            type: boolean
        - description: Filter products by item type (physical, digital, course, license,
            subscription)
          in: query
          name: item_type
          required: false
          schema:
            description: Type of the product item
            enum:
              - physical
              - digital
              - course
              - license
              - subscription
            title: ItemType
            type: string
        - description: Filter products associated with a specific label name
          in: query
          name: label
          required: false
          schema:
            type: string
        - description: Filter products by pricing type (one_time or recurring)
          in: query
          name: pricing_type
          required: false
          schema:
            enum:
              - one_time
              - recurring
            type: string
  /v3/products/{id}:
    parameters:
      - $ref: "#/components/parameters/GenericId"
    get:
      tags:
        - Business Products
      operationId: getProduct
      summary: Get a business product
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/GetProductResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Retrieves the details of a single product, including its variants
        and other associated data.
    patch:
      tags:
        - Business Products
      operationId: updateProduct
      summary: Update a business product
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/UpdateProductRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/UpdateProductResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Updates the details of a product, including its variants.
    delete:
      tags:
        - Business Products
      operationId: deleteProduct
      summary: Delete a business product
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Deletes a product and all its associated data.
  /v3/products/{id}/duplicate:
    parameters:
      - $ref: "#/components/parameters/GenericId"
    post:
      tags:
        - Business Products
      operationId: duplicateProduct
      summary: Duplicate a business product
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/DuplicateProductResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Creates a copy of an existing product including all variants,
        digital files, course structure (for courses), labels, follow-up chats,
        and email automation settings. The new product name will be suffixed
        with '(Copy)'. Partnership settings and store associations are NOT
        copied.
  /v3/products/{product_id}/partnership:
    parameters:
      - $ref: "#/components/parameters/ProductId"
    patch:
      tags:
        - Business Products
      operationId: updateProductPartnership
      summary: Update product partnership settings
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /v3/products/{product_id}/partnership/check-changes:
    parameters:
      - $ref: "#/components/parameters/ProductId"
    post:
      tags:
        - Business Products
      operationId: checkProductPartnershipChanges
      summary: Check the impact of product partnership changes
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
  /v3/products/{product_id}/relations:
    parameters:
      - $ref: "#/components/parameters/ProductId"
    get:
      tags:
        - Business Products
      operationId: getProductRelations
      summary: Get product relations
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/GetProductRelationsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Shows the relations of a product, including variants, stores,
        bundles, and pages.
  /v3/products/{product_id}/partners:
    parameters:
      - $ref: "#/components/parameters/ProductId"
    get:
      tags:
        - Business Products
      operationId: listProductPartners
      summary: List product partners
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ListProductPartnersResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Retrieves a paginated list of product partners.
      parameters:
        - description: Last ID for cursor-based pagination
          in: query
          name: last_id
          required: false
          schema:
            type: integer
        - description: "Number of items per page (default: 25, max: 25)"
          in: query
          name: page_size
          required: false
          schema:
            example: 25
            maximum: 25
            type: integer
    post:
      tags:
        - Business Products
      operationId: createProductPartner
      summary: Add a product partner
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CreateProductPartnerRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/CreateProductPartnerResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Creates a new product partner.
  /v3/products/{product_id}/partners/{id}:
    parameters:
      - $ref: "#/components/parameters/ProductId"
      - $ref: "#/components/parameters/GenericId"
    delete:
      tags:
        - Business Products
      operationId: deleteProductPartner
      summary: Remove a product partner
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Deletes a product partner.
  /v3/products/{product_id}/knowledge-items:
    parameters:
      - $ref: "#/components/parameters/ProductId"
    get:
      tags:
        - Business Products
      operationId: listProductKnowledgeItems
      summary: List product knowledge items
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ListProductKnowledgeItemsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Retrieves a paginated list of product-level knowledge items. The
        data is sorted by id in ascending order.
      parameters:
        - description: Last ID for cursor-based pagination (UUIDv7)
          in: query
          name: last_id
          required: false
          schema:
            format: uuid
            type: string
        - description: "Number of items per page (default: 25, max: 25)"
          in: query
          name: page_size
          required: false
          schema:
            example: 25
            maximum: 25
            type: integer
    post:
      tags:
        - Business Products
      operationId: createProductKnowledgeItem
      summary: Create a product knowledge item
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CreateProductKnowledgeItemRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/CreateProductKnowledgeItemResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
      description: Creates a new product-level knowledge item.
  /v3/products/{product_id}/knowledge-items/{id}:
    parameters:
      - $ref: "#/components/parameters/ProductId"
      - $ref: "#/components/parameters/GenericId"
    get:
      tags:
        - Business Products
      operationId: getProductKnowledgeItem
      summary: Get a product knowledge item
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
[...]
