openapi: 3.0.3
info:
  title: Nexus Commerce API
  version: 3.0.0
  description: |
    Public v3 commerce contract for storefront, customer, and authenticated business
    commerce flows.

    This specification intentionally documents only the `/v3` namespace.
    Store-derived public storefront routes under `/v3/stores/{store_id}/public/*`
    require the `X-Scalev-Storefront-Api-Key` header.
  license:
    name: Proprietary
servers:
  - url: https://api.myscalev.com
    description: Production
security: []
tags:
  - name: Orders
    description: Authenticated business order management endpoints.
  - name: Storefront
    description: Public storefront catalog, guest cart, and guest checkout flows. All store-derived public storefront routes require `X-Scalev-Storefront-Api-Key`.
  - name: Public Orders
    description: Public order lookup and payment endpoints.
  - name: Customer Auth
    description: Public customer authentication and password-reset endpoints.
  - name: Customer Account
    description: Authenticated customer profile endpoints.
  - name: Customer Cart
    description: Authenticated customer cart management endpoints.
  - name: Customer Checkout
    description: Authenticated customer checkout preparation and confirmation endpoints.
  - name: Customer Orders
    description: Authenticated customer order read endpoints.
  - name: Customer Subscriptions
    description: Authenticated customer subscription and subscription-item endpoints.
  - name: Customer Courses
    description: Authenticated customer digital course access and progress endpoints.
  - name: Discounts
    description: Discount-code validation endpoints.
  - name: Locations
    description: Authenticated business location lookup endpoints.
  - name: Shipping
    description: Public and authenticated shipping lookup endpoints.
  - name: Business Products
    description: Authenticated business product, variant, taxonomy, and course management endpoints.
  - name: Business Bundles
    description: Authenticated business bundle, bundle-price-option, and related bundle-management endpoints.
  - name: Business Customers
    description: Authenticated business customer and customer-address management endpoints.
  - name: WABA
    description: Authenticated WhatsApp Business Account operations and related WABA resources.
  - name: WhatsApp Integrations
    description: Authenticated WhatsApp integration management endpoints.
paths:
  /v3/stores/{store_id}/public/products:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
    get:
      tags: [Storefront]
      operationId: listStorefrontProducts
      summary: List storefront products
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/stores/{store_id}/public/products/count:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
    get:
      tags: [Storefront]
      operationId: countStorefrontProducts
      summary: Count storefront products
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/stores/{store_id}/public/products/{slug}:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
      - $ref: "#/components/parameters/ProductSlug"
    get:
      tags: [Storefront]
      operationId: getStorefrontProduct
      summary: Get a storefront product by slug
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/stores/{store_id}/public/categories:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
    get:
      tags: [Storefront]
      operationId: listStorefrontCategories
      summary: List storefront categories
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/stores/{store_id}/public/variants/pricing:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
      - $ref: "#/components/parameters/VariantIds"
    get:
      tags: [Storefront]
      operationId: getStorefrontVariantPricing
      summary: Get storefront variant pricing
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/stores/{store_id}/public/cart:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
    get:
      tags: [Storefront]
      operationId: getGuestCart
      summary: Get the guest storefront cart
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/stores/{store_id}/public/cart/items:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
    post:
      tags: [Storefront]
      operationId: addGuestCartItem
      summary: Add an item to the guest storefront cart
      requestBody:
        $ref: "#/components/requestBodies/CartItemRequestBody"
      responses:
        "201":
          $ref: "#/components/responses/CreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/stores/{store_id}/public/cart/items/{item_id}:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
      - $ref: "#/components/parameters/ItemId"
    patch:
      tags: [Storefront]
      operationId: updateGuestCartItem
      summary: Update a guest storefront cart item
      requestBody:
        $ref: "#/components/requestBodies/CartItemUpdateRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      tags: [Storefront]
      operationId: removeGuestCartItem
      summary: Remove a guest storefront cart item
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/stores/{store_id}/public/cart/merge:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
    post:
      tags: [Storefront]
      operationId: mergeGuestCart
      summary: Merge a guest cart into the authenticated customer cart
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/stores/{store_id}/public/guest-checkout:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
    post:
      tags: [Storefront]
      operationId: createGuestCheckout
      summary: Checkout a storefront cart as a guest
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "201":
          $ref: "#/components/responses/CreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/orders/search-courier-service:
    post:
      tags: [Shipping]
      operationId: searchPublicCourierServices
      summary: Search courier services for public checkout
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"

  /v3/orders/public/{secret_slug}:
    parameters:
      - $ref: "#/components/parameters/SecretSlug"
    get:
      tags: [Public Orders]
      operationId: getPublicOrder
      summary: Get a public order by secret slug
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/orders/public/{secret_slug}/payment:
    parameters:
      - $ref: "#/components/parameters/SecretSlug"
    post:
      tags: [Public Orders]
      operationId: createPublicOrderPayment
      summary: Create a payment for a public order
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/stores/{store_id}/public/discount-codes/check:
    parameters:
      - $ref: "#/components/parameters/StoreId"
      - $ref: "#/components/parameters/StorefrontPublicApiKey"
    get:
      tags: [Discounts]
      operationId: checkDiscountCode
      summary: Check discount code validity
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"

  /v3/stores/{store_id}/public/auth/otp/send:
    post:
      tags: [Customer Auth]
      operationId: sendCustomerOtp
      summary: Send a customer login OTP or return direct login tokens
      parameters:
        - $ref: "#/components/parameters/StoreId"
        - $ref: "#/components/parameters/StorefrontPublicApiKey"
      requestBody:
        $ref: "#/components/requestBodies/CustomerOtpSendRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"

  /v3/stores/{store_id}/public/auth/otp/verify:
    post:
      tags: [Customer Auth]
      operationId: verifyCustomerOtp
      summary: Verify a customer login OTP
      parameters:
        - $ref: "#/components/parameters/StoreId"
        - $ref: "#/components/parameters/StorefrontPublicApiKey"
      requestBody:
        $ref: "#/components/requestBodies/CustomerOtpVerifyRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"

  /v3/stores/{store_id}/public/auth/jwt/refresh:
    post:
      tags: [Customer Auth]
      operationId: refreshCustomerJwt
      summary: Refresh a customer JWT
      parameters:
        - $ref: "#/components/parameters/StoreId"
        - $ref: "#/components/parameters/StorefrontPublicApiKey"
      requestBody:
        $ref: "#/components/requestBodies/JwtRefreshRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"

  /v3/stores/{store_id}/public/auth/jwt/blacklist:
    post:
      tags: [Customer Auth]
      operationId: blacklistCustomerJwt
      summary: Blacklist customer JWTs
      parameters:
        - $ref: "#/components/parameters/StoreId"
        - $ref: "#/components/parameters/StorefrontPublicApiKey"
      requestBody:
        $ref: "#/components/requestBodies/JwtBlacklistRequestBody"
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"

  /v3/stores/{store_id}/public/auth/forget-password:
    post:
      tags: [Customer Auth]
      operationId: startCustomerPasswordReset
      summary: Start a customer password reset flow
      parameters:
        - $ref: "#/components/parameters/StoreId"
        - $ref: "#/components/parameters/StorefrontPublicApiKey"
      requestBody:
        $ref: "#/components/requestBodies/ForgetPasswordRequestBody"
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"

  /v3/stores/{store_id}/public/auth/save-password:
    post:
      tags: [Customer Auth]
      operationId: saveCustomerPassword
      summary: Save a new customer password from a reset token
      parameters:
        - $ref: "#/components/parameters/StoreId"
        - $ref: "#/components/parameters/StorefrontPublicApiKey"
      requestBody:
        $ref: "#/components/requestBodies/SavePasswordRequestBody"
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/stores/{store_id}/customers/me:
    get:
      tags: [Customer Account]
      operationId: getCustomerMe
      summary: Get the authenticated customer profile
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"

  /v3/stores/{store_id}/customers/me/set-new-password:
    post:
      tags: [Customer Account]
      operationId: setCustomerPassword
      summary: Set a new password for the authenticated customer
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      requestBody:
        $ref: "#/components/requestBodies/PasswordRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"

  /v3/stores/{store_id}/customers/me/cart:
    get:
      tags: [Customer Cart]
      operationId: getCustomerCart
      summary: Get the authenticated customer cart
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"

  /v3/stores/{store_id}/customers/me/cart/items:
    post:
      tags: [Customer Cart]
      operationId: addCustomerCartItem
      summary: Add an item to the authenticated customer cart
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      requestBody:
        $ref: "#/components/requestBodies/CartItemRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"

  /v3/stores/{store_id}/customers/me/cart/items/{item_id}:
    parameters:
      - $ref: "#/components/parameters/ItemId"
      - $ref: "#/components/parameters/StoreId"
    patch:
      tags: [Customer Cart]
      operationId: updateCustomerCartItem
      summary: Update an authenticated customer cart item
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CartItemUpdateRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
    delete:
      tags: [Customer Cart]
      operationId: removeCustomerCartItem
      summary: Remove an authenticated customer cart item
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"

  /v3/stores/{store_id}/customers/me/cart/checkout:
    post:
      tags: [Customer Cart]
      operationId: checkoutCustomerCart
      summary: Checkout the authenticated customer cart
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "201":
          $ref: "#/components/responses/CreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"

  /v3/stores/{store_id}/customers/me/checkout/addresses:
    get:
      tags: [Customer Checkout]
      operationId: listCheckoutAddresses
      summary: List saved checkout addresses
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"

  /v3/stores/{store_id}/customers/me/checkout/payment-methods:
    get:
      tags: [Customer Checkout]
      operationId: listCheckoutPaymentMethods
      summary: List available checkout payment methods
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"

  /v3/stores/{store_id}/customers/me/checkout/shipping-options:
    post:
      tags: [Customer Checkout]
      operationId: listCheckoutShippingOptions
      summary: Get checkout shipping options
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"

  /v3/stores/{store_id}/customers/me/checkout/summary:
    post:
      tags: [Customer Checkout]
      operationId: getCheckoutSummary
      summary: Compute checkout summary
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"

  /v3/stores/{store_id}/customers/me/checkout/confirm:
    post:
      tags: [Customer Checkout]
      operationId: confirmCheckout
      summary: Confirm checkout
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "201":
          $ref: "#/components/responses/CreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"

  /v3/stores/{store_id}/customers/me/orders:
    get:
      tags: [Customer Orders]
      operationId: listCustomerOrders
      summary: List authenticated customer orders
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"

  /v3/stores/{store_id}/customers/me/orders/{id}:
    parameters:
      - $ref: "#/components/parameters/OrderId"
      - $ref: "#/components/parameters/StoreId"
    get:
      tags: [Customer Orders]
      operationId: getCustomerOrder
      summary: Get an authenticated customer order
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/stores/{store_id}/customers/me/subscriptions:
    get:
      tags: [Customer Subscriptions]
      operationId: listCustomerSubscriptions
      summary: List authenticated customer subscriptions
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/StoreId"
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"

  /v3/stores/{store_id}/customers/me/subscriptions/{id}:
    parameters:
      - $ref: "#/components/parameters/SubscriptionId"
      - $ref: "#/components/parameters/StoreId"
    get:
      tags: [Customer Subscriptions]
      operationId: getCustomerSubscription
      summary: Get an authenticated customer subscription
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/stores/{store_id}/customers/me/subscriptions/{id}/cancel:
    parameters:
      - $ref: "#/components/parameters/SubscriptionId"
      - $ref: "#/components/parameters/StoreId"
    post:
      tags: [Customer Subscriptions]
      operationId: cancelCustomerSubscription
      summary: Cancel a customer subscription
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/stores/{store_id}/customers/me/subscriptions/{id}/resume:
    parameters:
      - $ref: "#/components/parameters/SubscriptionId"
      - $ref: "#/components/parameters/StoreId"
    post:
      tags: [Customer Subscriptions]
      operationId: resumeCustomerSubscription
      summary: Resume a customer subscription
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/stores/{store_id}/customers/me/subscription-items/{id}/upgrade:
    parameters:
      - $ref: "#/components/parameters/SubscriptionItemId"
      - $ref: "#/components/parameters/StoreId"
    get:
      tags: [Customer Subscriptions]
      operationId: listSubscriptionUpgradeOptions
      summary: List subscription upgrade options
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    post:
      tags: [Customer Subscriptions]
      operationId: upgradeSubscriptionItem
      summary: Upgrade a subscription item
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/SubscriptionVariantChangeRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/stores/{store_id}/customers/me/subscription-items/{id}/downgrade:
    parameters:
      - $ref: "#/components/parameters/SubscriptionItemId"
      - $ref: "#/components/parameters/StoreId"
    get:
      tags: [Customer Subscriptions]
      operationId: listSubscriptionDowngradeOptions
      summary: List subscription downgrade options
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    post:
      tags: [Customer Subscriptions]
      operationId: downgradeSubscriptionItem
      summary: Downgrade a subscription item
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/SubscriptionVariantChangeRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/stores/{store_id}/customers/me/variants/{uuid}/course:
    parameters:
      - $ref: "#/components/parameters/Uuid"
      - $ref: "#/components/parameters/StoreId"
    get:
      tags: [Customer Courses]
      operationId: getCustomerVariantCourse
      summary: Get course access for a purchased variant
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/stores/{store_id}/customers/me/course-sections/{uuid}:
    parameters:
      - $ref: "#/components/parameters/Uuid"
      - $ref: "#/components/parameters/StoreId"
    get:
      tags: [Customer Courses]
      operationId: getCustomerCourseSection
      summary: Get a course section
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/stores/{store_id}/customers/me/course-contents/{uuid}:
    parameters:
      - $ref: "#/components/parameters/Uuid"
      - $ref: "#/components/parameters/StoreId"
    get:
      tags: [Customer Courses]
      operationId: getCustomerCourseContent
      summary: Get a course content item
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    patch:
      tags: [Customer Courses]
      operationId: updateCustomerCourseContentProgress
      summary: Update course content progress
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/locations:
    get:
      tags: [Locations]
      operationId: listLocations
      summary: List locations for authenticated business flows
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/shipping-costs:
    post:
      tags: [Shipping]
      operationId: searchShippingCosts
      summary: Search shipping costs
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/shipping-costs/search-courier-service:
    post:
      tags: [Shipping]
      operationId: searchCourierServices
      summary: Search courier services
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/shipping-costs/search-warehouse:
    post:
      tags: [Shipping]
      operationId: searchWarehouses
      summary: Search warehouses
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/orders:
    get:
      tags: [Orders]
      operationId: listOrders
      summary: List business orders
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
    post:
      tags: [Orders]
      operationId: createOrder
      summary: Create a business order
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/orders/statistics:
    get:
      tags: [Orders]
      operationId: getOrderStatistics
      summary: Get order statistics
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/orders/change-status:
    post:
      tags: [Orders]
      operationId: changeOrderStatus
      summary: Change order status in bulk
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/orders/delete:
    post:
      tags: [Orders]
      operationId: deleteOrders
      summary: Delete orders in bulk
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/orders/mark-not-spam:
    post:
      tags: [Orders]
      operationId: markOrdersNotSpam
      summary: Mark orders as not spam
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/orders/upload-change-status:
    post:
      tags: [Orders]
      operationId: uploadOrderStatusChanges
      summary: Upload a CSV to change order status
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericUploadRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/orders/upload-receipt:
    post:
      tags: [Orders]
      operationId: uploadOrderReceipt
      summary: Upload order receipt data
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericUploadRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/orders/upload:
    post:
      tags: [Orders]
      operationId: uploadOrders
      summary: Upload orders from a file
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericUploadRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/orders/generate-awb:
    post:
      tags: [Orders]
      operationId: generateOrderAwb
      summary: Generate airway bills for orders
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/orders/cancel-awb:
    post:
      tags: [Orders]
      operationId: cancelOrderAwb
      summary: Cancel airway bills for orders
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/orders/tags:
    get:
      tags: [Orders]
      operationId: listOrderTags
      summary: List order tags
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/orders/utm-sources:
    get:
      tags: [Orders]
      operationId: listOrderUtmSources
      summary: List order UTM sources
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/orders/utm-mediums:
    get:
      tags: [Orders]
      operationId: listOrderUtmMediums
      summary: List order UTM mediums
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/orders/utm-campaigns:
    get:
      tags: [Orders]
      operationId: listOrderUtmCampaigns
      summary: List order UTM campaigns
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/orders/utm-contents:
    get:
      tags: [Orders]
      operationId: listOrderUtmContents
      summary: List order UTM contents
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/orders/utm-terms:
    get:
      tags: [Orders]
      operationId: listOrderUtmTerms
      summary: List order UTM terms
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/orders/pg-reference-id/{pg_reference_id}:
    parameters:
      - $ref: "#/components/parameters/PgReferenceId"
    get:
      tags: [Orders]
      operationId: getOrderByPgReferenceId
      summary: Get an order by payment gateway reference ID
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/orders/pg-reference-ids:
    get:
      tags: [Orders]
      operationId: listOrdersByPgReferenceIds
      summary: Get orders by payment gateway reference IDs
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/orders/{id}:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    get:
      tags: [Orders]
      operationId: getOrder
      summary: Get a business order
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    patch:
      tags: [Orders]
      operationId: updateOrder
      summary: Update a business order
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/orders/{id}/actions:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    get:
      tags: [Orders]
      operationId: getOrderActions
      summary: Get available actions for an order
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/orders/{id}/chats:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    get:
      tags: [Orders]
      operationId: listOrderChats
      summary: Get order chat text
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/orders/{id}/chats/{chat_id}:
    parameters:
      - $ref: "#/components/parameters/OrderId"
      - $ref: "#/components/parameters/ChatId"
    get:
      tags: [Orders]
      operationId: getOrderChat
      summary: Get a single order chat entry
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/orders/{id}/emails:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    get:
      tags: [Orders]
      operationId: listOrderEmails
      summary: List order emails
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/orders/{id}/message-history:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    get:
      tags: [Orders]
      operationId: getOrderMessageHistory
      summary: Get order message history
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    post:
      tags: [Orders]
      operationId: addOrderMessageHistory
      summary: Add order message history
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/orders/{id}/payment:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      tags: [Orders]
      operationId: createOrderPayment
      summary: Create a payment for an order
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/orders/{id}/customer:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    patch:
      tags: [Orders]
      operationId: updateOrderCustomer
      summary: Update order customer data
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/orders/{id}/shipment:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    patch:
      tags: [Orders]
      operationId: updateOrderShipment
      summary: Update raw shipment data
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/orders/{id}/shipment-receipt:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    patch:
      tags: [Orders]
      operationId: updateOrderShipmentReceipt
      summary: Update shipment receipt data
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/orders/{id}/shipment-status-history:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      tags: [Orders]
      operationId: createOrderShipmentStatusHistory
      summary: Add shipment status history to an order
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/orders/{id}/update-tags:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      tags: [Orders]
      operationId: updateOrderTags
      summary: Update order tags
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/orders/{id}/trigger-purchase:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      tags: [Orders]
      operationId: triggerOrderPurchase
      summary: Trigger purchase processing for an order
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/orders/{id}/duplicate:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      tags: [Orders]
      operationId: duplicateOrder
      summary: Duplicate and cancel an order
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/orders/{id}/check-payment:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      tags: [Orders]
      operationId: checkOrderPayment
      summary: Check order payment status
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/orders/{id}/check-settlement:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      tags: [Orders]
      operationId: checkOrderSettlement
      summary: Check order settlement status
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/orders/{id}/send-product-digital:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      tags: [Orders]
      operationId: sendDigitalProduct
      summary: Send digital product access for an order
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/orders/{id}/send-lms-access:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      tags: [Orders]
      operationId: sendLmsAccess
      summary: Send LMS access for an order
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/products:
    get:
      tags: [Business Products]
      operationId: listProducts
      summary: List business products
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
    post:
      tags: [Business Products]
      operationId: createProduct
      summary: Create a product
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/products/simplified:
    get:
      tags: [Business Products]
      operationId: listProductsSimplified
      summary: List simplified business products
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/products/count:
    get:
      tags: [Business Products]
      operationId: countProducts
      summary: Count business products
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/products/{id}:
    parameters:
      - $ref: "#/components/parameters/GenericId"
    get:
      tags: [Business Products]
      operationId: getProduct
      summary: Get a business product
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    patch:
      tags: [Business Products]
      operationId: updateProduct
      summary: Update a business product
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      tags: [Business Products]
      operationId: deleteProduct
      summary: Delete a business product
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/products/{id}/duplicate:
    parameters:
      - $ref: "#/components/parameters/GenericId"
    post:
      tags: [Business Products]
      operationId: duplicateProduct
      summary: Duplicate a business product
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/products/{product_id}/partnership:
    parameters:
      - $ref: "#/components/parameters/ProductId"
    patch:
      tags: [Business Products]
      operationId: updateProductPartnership
      summary: Update product partnership settings
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/products/{product_id}/partnership/check-changes:
    parameters:
      - $ref: "#/components/parameters/ProductId"
    post:
      tags: [Business Products]
      operationId: checkProductPartnershipChanges
      summary: Check the impact of product partnership changes
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/products/{product_id}/relations:
    parameters:
      - $ref: "#/components/parameters/ProductId"
    get:
      tags: [Business Products]
      operationId: getProductRelations
      summary: Get product relations
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/products/{product_id}/partners:
    parameters:
      - $ref: "#/components/parameters/ProductId"
    get:
      tags: [Business Products]
      operationId: listProductPartners
      summary: List product partners
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    post:
      tags: [Business Products]
      operationId: createProductPartner
      summary: Add a product partner
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/products/{product_id}/partners/{id}:
    parameters:
      - $ref: "#/components/parameters/ProductId"
      - $ref: "#/components/parameters/GenericId"
    delete:
      tags: [Business Products]
      operationId: deleteProductPartner
      summary: Remove a product partner
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/products/{product_id}/knowledge-items:
    parameters:
      - $ref: "#/components/parameters/ProductId"
    get:
      tags: [Business Products]
      operationId: listProductKnowledgeItems
      summary: List product knowledge items
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    post:
      tags: [Business Products]
      operationId: createProductKnowledgeItem
      summary: Create a product knowledge item
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/products/{product_id}/knowledge-items/{id}:
    parameters:
      - $ref: "#/components/parameters/ProductId"
      - $ref: "#/components/parameters/GenericId"
    get:
      tags: [Business Products]
      operationId: getProductKnowledgeItem
      summary: Get a product knowledge item
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    patch:
      tags: [Business Products]
      operationId: updateProductKnowledgeItem
      summary: Update a product knowledge item
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      tags: [Business Products]
      operationId: deleteProductKnowledgeItem
      summary: Delete a product knowledge item
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/products/{product_id}/follow-up-chats/generate:
    parameters:
      - $ref: "#/components/parameters/ProductId"
    post:
      tags: [Business Products]
      operationId: generateProductFollowUpChats
      summary: Generate product follow-up chats
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/products/{product_id}/follow-up-chats:
    parameters:
      - $ref: "#/components/parameters/ProductId"
    get:
      tags: [Business Products]
      operationId: listProductFollowUpChats
      summary: List product follow-up chats
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    post:
      tags: [Business Products]
      operationId: createProductFollowUpChat
      summary: Create a product follow-up chat
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/products/{product_id}/follow-up-chats/{id}:
    parameters:
      - $ref: "#/components/parameters/ProductId"
      - $ref: "#/components/parameters/GenericId"
    get:
      tags: [Business Products]
      operationId: getProductFollowUpChat
      summary: Get a product follow-up chat
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    patch:
      tags: [Business Products]
      operationId: updateProductFollowUpChat
      summary: Update a product follow-up chat
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      tags: [Business Products]
      operationId: deleteProductFollowUpChat
      summary: Delete a product follow-up chat
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/variants/{id}:
    parameters:
      - $ref: "#/components/parameters/GenericId"
    get:
      tags: [Business Products]
      operationId: getVariant
      summary: Get a business variant
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/variants/{variant_id}/knowledge-items:
    parameters:
      - $ref: "#/components/parameters/VariantId"
    get:
      tags: [Business Products]
      operationId: listVariantKnowledgeItems
      summary: List variant knowledge items
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    post:
      tags: [Business Products]
      operationId: createVariantKnowledgeItem
      summary: Create a variant knowledge item
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/variants/{variant_id}/knowledge-items/{id}:
    parameters:
      - $ref: "#/components/parameters/VariantId"
      - $ref: "#/components/parameters/GenericId"
    get:
      tags: [Business Products]
      operationId: getVariantKnowledgeItem
      summary: Get a variant knowledge item
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    patch:
      tags: [Business Products]
      operationId: updateVariantKnowledgeItem
      summary: Update a variant knowledge item
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      tags: [Business Products]
      operationId: deleteVariantKnowledgeItem
      summary: Delete a variant knowledge item
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/variants/{variant_id}/digital-product-files:
    parameters:
      - $ref: "#/components/parameters/VariantId"
    get:
      tags: [Business Products]
      operationId: listVariantDigitalProductFiles
      summary: List variant digital product files
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    post:
      tags: [Business Products]
      operationId: createVariantDigitalProductFile
      summary: Create a variant digital product file upload record
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/variants/{variant_id}/digital-product-files/{id}:
    parameters:
      - $ref: "#/components/parameters/VariantId"
      - $ref: "#/components/parameters/GenericId"
    get:
      tags: [Business Products]
      operationId: getVariantDigitalProductFile
      summary: Get a variant digital product file
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      tags: [Business Products]
      operationId: deleteVariantDigitalProductFile
      summary: Delete a variant digital product file
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/product-taxonomies:
    get:
      tags: [Business Products]
      operationId: listProductTaxonomies
      summary: List product taxonomies
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/CollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/product-taxonomies/{id}:
    parameters:
      - $ref: "#/components/parameters/GenericId"
    get:
      tags: [Business Products]
      operationId: getProductTaxonomy
      summary: Get a product taxonomy
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/variants/{id}/course:
    parameters:
      - $ref: "#/components/parameters/GenericId"
    get:
      tags: [Business Products]
      operationId: getVariantCourse
      summary: Get a variant course skeleton
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    patch:
      tags: [Business Products]
      operationId: updateVariantCourse
      summary: Update a variant course skeleton
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/variants/{variant_id}/course-sections:
    parameters:
      - $ref: "#/components/parameters/VariantId"
    post:
      tags: [Business Products]
      operationId: createCourseSection
      summary: Create a course section for a variant
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/variants/{variant_id}/course-section-orders:
    parameters:
      - $ref: "#/components/parameters/VariantId"
    patch:
      tags: [Business Products]
      operationId: updateCourseSectionOrders
      summary: Update variant course section ordering
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/variants/{id}/customers:
    parameters:
      - $ref: "#/components/parameters/GenericId"
    get:
      tags: [Business Products]
      operationId: listVariantCustomers
      summary: List customers with access to a variant
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/course-sections/{uuid}:
    parameters:
      - $ref: "#/components/parameters/Uuid"
    get:
      tags: [Business Products]
      operationId: getCourseSection
      summary: Get a course section
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    patch:
      tags: [Business Products]
      operationId: updateCourseSection
      summary: Update a course section
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      tags: [Business Products]
      operationId: deleteCourseSection
      summary: Delete a course section
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/course-sections/{section_uuid}/course-contents:
    parameters:
      - $ref: "#/components/parameters/SectionUuid"
    post:
      tags: [Business Products]
      operationId: createCourseContent
      summary: Create a course content item
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/course-sections/{section_uuid}/course-content-orders:
    parameters:
      - $ref: "#/components/parameters/SectionUuid"
    patch:
      tags: [Business Products]
      operationId: updateCourseContentOrders
      summary: Update course content ordering
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/course-contents/{uuid}:
    parameters:
      - $ref: "#/components/parameters/Uuid"
    get:
      tags: [Business Products]
      operationId: getCourseContent
      summary: Get a course content item
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    patch:
      tags: [Business Products]
      operationId: updateCourseContent
      summary: Update a course content item
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      tags: [Business Products]
      operationId: deleteCourseContent
      summary: Delete a course content item
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/bundles:
    get:
      tags: [Business Bundles]
      operationId: listBundles
      summary: List business bundles
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
    post:
      tags: [Business Bundles]
      operationId: createBundle
      summary: Create a bundle
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/bundles/simplified:
    get:
      tags: [Business Bundles]
      operationId: listBundlesSimplified
      summary: List simplified business bundles
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/bundles/count:
    get:
      tags: [Business Bundles]
      operationId: countBundles
      summary: Count business bundles
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/bundles/{id}:
    parameters:
      - $ref: "#/components/parameters/GenericId"
    get:
      tags: [Business Bundles]
      operationId: getBundle
      summary: Get a business bundle
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    patch:
      tags: [Business Bundles]
      operationId: updateBundle
      summary: Update a business bundle
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      tags: [Business Bundles]
      operationId: deleteBundle
      summary: Delete a business bundle
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/bundles/{id}/duplicate:
    parameters:
      - $ref: "#/components/parameters/GenericId"
    post:
      tags: [Business Bundles]
      operationId: duplicateBundle
      summary: Duplicate a business bundle
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/bundles/{bundle_id}/relations:
    parameters:
      - $ref: "#/components/parameters/BundleId"
    get:
      tags: [Business Bundles]
      operationId: getBundleRelations
      summary: Get bundle relations
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/bundles/{bundle_id}/partners:
    parameters:
      - $ref: "#/components/parameters/BundleId"
    get:
      tags: [Business Bundles]
      operationId: listBundlePartners
      summary: List bundle partners
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    post:
      tags: [Business Bundles]
      operationId: createBundlePartner
      summary: Add a bundle partner
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/bundles/{bundle_id}/partners/{id}:
    parameters:
      - $ref: "#/components/parameters/BundleId"
      - $ref: "#/components/parameters/GenericId"
    delete:
      tags: [Business Bundles]
      operationId: deleteBundlePartner
      summary: Remove a bundle partner
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/bundles/{bundle_id}/follow-up-chats/generate:
    parameters:
      - $ref: "#/components/parameters/BundleId"
    post:
      tags: [Business Bundles]
      operationId: generateBundleFollowUpChats
      summary: Generate bundle follow-up chats
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/bundles/{bundle_id}/follow-up-chats:
    parameters:
      - $ref: "#/components/parameters/BundleId"
    get:
      tags: [Business Bundles]
      operationId: listBundleFollowUpChats
      summary: List bundle follow-up chats
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    post:
      tags: [Business Bundles]
      operationId: createBundleFollowUpChat
      summary: Create a bundle follow-up chat
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/bundles/{bundle_id}/follow-up-chats/{id}:
    parameters:
      - $ref: "#/components/parameters/BundleId"
      - $ref: "#/components/parameters/GenericId"
    get:
      tags: [Business Bundles]
      operationId: getBundleFollowUpChat
      summary: Get a bundle follow-up chat
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    patch:
      tags: [Business Bundles]
      operationId: updateBundleFollowUpChat
      summary: Update a bundle follow-up chat
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      tags: [Business Bundles]
      operationId: deleteBundleFollowUpChat
      summary: Delete a bundle follow-up chat
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/bundles/{bundle_id}/bundle-price-options:
    parameters:
      - $ref: "#/components/parameters/BundleId"
    get:
      tags: [Business Bundles]
      operationId: listBundlePriceOptions
      summary: List bundle price options
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    post:
      tags: [Business Bundles]
      operationId: createBundlePriceOption
      summary: Create a bundle price option
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/bundles/{bundle_id}/bundle-price-options/{id}:
    parameters:
      - $ref: "#/components/parameters/BundleId"
      - $ref: "#/components/parameters/GenericId"
    patch:
      tags: [Business Bundles]
      operationId: updateBundlePriceOption
      summary: Update a bundle price option
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      tags: [Business Bundles]
      operationId: deleteBundlePriceOption
      summary: Delete a bundle price option
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/bundles/{bundle_id}/bundle-price-options/{id}/relations:
    parameters:
      - $ref: "#/components/parameters/BundleId"
      - $ref: "#/components/parameters/GenericId"
    get:
      tags: [Business Bundles]
      operationId: getBundlePriceOptionRelations
      summary: Get bundle price option relations
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /v3/customers:
    get:
      tags: [Business Customers]
      operationId: listBusinessCustomers
      summary: List business customers
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      responses:
        "200":
          $ref: "#/components/responses/PaginatedCollectionResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"
    post:
      tags: [Business Customers]
      operationId: createBusinessCustomer
      summary: Create a business customer
      security:
        - bearerAuth: []
        - apiKeyAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GenericJsonRequestBody"
      responses:
        "200":
          $ref: "#/components/responses/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/ForbiddenResponse"

  /v3/customers/count:
    get:
      tags: [Business Customers]
[...]
